.container {
  display: flex;
  flex-direction: row;
  align-items: center;

  max-width: 1200px;
  margin: 24px auto;
}

.inputBox {
  width: 280px;
  height: 56px;
  padding: 0 0 0 24px;
  margin: 0;

  background-color: var(--slate-100);

  box-sizing: border-box;
  border: 2px solid var(--slate-900);
  border-radius: 24px;
  box-shadow: 2px 2px var(--slate-900);

  & ::placeholder {
    color: var(--slate-500);
  }

  & :focus {
    outline: none;
  }
}

/* 테블릿 */
@media (min-width: 768px) {
  .inputBox {
    width: 518px;
  }
}

/* 데스크탑 */
@media (min-width: 1024px) {
  .inputBox {
    width: 1016px;
  }
}
