.listsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 1200px;
  margin: 16px auto;
}

/* 데스크탑 */
@media (min-width: 1024px) {
  .listsContainer {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}
